%h2= @survey.name

%br
%p
  - if (survey_monkey_details = @survey.survey_monkey_details).present? && survey_monkey_details['summary_url'].present?
    = link_to "Survey Monkey", survey_monkey_details['summary_url'], target: '_blank'
  - else
    Survey Monkey Error

%br

.tree
  %h4
    Questions In This Survey

  - @survey.school_tree_category_questions.each do |stcq|
    .category{data: {category_id: stcq.category.id}}
      = render "category_link", tree_category: stcq.tree_category
      = render 'category_questions', tree_category: stcq.tree_category, template: "link"
