%h2 Edcontext Admin Home

%br

%p
  %a=link_to "Create New Survey", new_admin_survey_path

- Survey.all.each do |survey|
  %p= link_to survey, survey

%br
%p
  %a= link_to "Create New Category", new_admin_category_path

= render 'category_tree', category_partial: "category_link", show_questions: true
