%p#notice= notice

%p
  %b Name:
  = @survey.name
%p
  %b Survey monkey:
  - if (suvey_monkey_details = @survey.survey_monkey_details).present?
    = link_to @survey.survey_monkey_id, survey_monkey_details[:summary_url], target: '_blank'
  - else
    Survey Monkey Error

= link_to 'Edit', admin_edit_survey_path(@survey)
