%h2
  New
  - if @category.administrative_measure?
    Administrative Measure
  - elsif @category.parent_category.present?
    Subcategory
  - else
    Category  

  - if @category.parent_category.present?
    Under
    = "\"#{@category.parent_category.name}\""


%br

%div= render 'form'
