// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.child-tree-categories {
  padding-left: 30px;
  overflow: hidden;
}

.tree {

  .tree-category-selector, .tree-category-question-selector {
    a:not([href]) {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .tree-category-questions {
    padding-left: 30px;
    a {
      color: green;
    }
  }

  .child-tree-categories {
    li.administrative_measure {
      a {
        color: orange;
      }
    }
  }
}
