// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.child-categories {
  padding-left: 30px;
  overflow: hidden;
}

.category-tree {

  .category-selector, .question-selector {
    a:not([href]) {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .category-questions {
    padding-left: 30px;
    a {
      color: green;
    }
  }
}
