.category-tree
  %h4
    All Categories
    - if local_assigns[:show_questions]
      and Questions

  - Category.root.each do |c|
    = render category_partial, category: c
    = render "child_categories", category: c, category_partial: category_partial, show_questions: local_assigns[:show_questions]
