.tree-category-questions
  - (tree_category[:tree_category_questions] || tree_category.try(:tree_category_questions) || []).each do |tree_category_question|
    = render "question_#{template}", tree_category_question: tree_category_question
