.child-tree-categories
  - (tree_category[:child_tree_categories] || tree_category.child_tree_categories).each do |child_tree_category|
    - tree_category = child_tree_category[:tree_category] || child_tree_category
    .tree-category{data: {tree_category_id: tree_category.id}}
      = render "category_#{template}", tree_category: tree_category
      - if show_questions
        = render 'category_questions', tree_category: tree_category, template: template
      = render "child_categories", tree_category: tree_category, template: template, show_questions: show_questions
