.child-categories
  - category.child_categories.each do |child|
    .category
      = render "category_#{template}", category: child
      - if show_questions
        = render 'category_questions', category: child, template: template
      = render "child_categories", category: child, template: template, show_questions: show_questions
