.header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to("Beyond Test Scores", root_path, class: 'navbar-brand')
    = link_to("(admin home)", admin_root_path, class: 'navbar-brand')
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
